@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
}
.messages{
  overflow-y: scroll;
}
.messages::-webkit-scrollbar {
  width: 4px;
}

.messages::-webkit-scrollbar-track {
  background: transparent;
}

.messages::-webkit-scrollbar-thumb {
  background: #d8d8aa;
  border-radius: 4px;
}

.messages::-webkit-scrollbar-thumb:hover {
  background: gray;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}
.ql-container {
  height: 91.5vh;
}

.container .ql-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: beige;
  box-shadow: 0 5px 10px 0px rgba(65, 63, 63, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}
/* .ql-toolbar span, .ql-formats{
  color: white;
} */
.container .ql-editor {
  width: 70%;
  height: 35rem;
  margin: 1rem auto;
  background-color: beige;
  color: black;
  border: 1px solid rgb(212, 212, 134);
}
